<%- include('template/cabecera.ejs') %>
    <h1><%= text %></h1>

    <div class="cuaderno">
        <div class="nota">
            <ul>
                <li class="elemento1">Nombres: <%= nombres %></li>
                <li class="elemento2">Apellidos: <%= apellidos %></li>
                <li class="elemento3">CI: <%= ci %></li>
                <li class="elemento4">Seccion: <%= seccion %></li>
            </ul>
        </div>

        <img class="bookLogo" src="./images/bookIcon.png" alt="TS">
    </div>
</body>
</html>